<!-- templates/creator.html -->
{% extends "base.html" %}

{% block content %}
<div>
  <h1>Creator</h1>
  <input type="text" id="name" placeholder="Your character name" />
  <input type="text" id="surname" placeholder="Your character surname" />
  <label>Race</label>
  <input type="radio" id="html" name="race" value="HTML">
    <label for="html">Elf</label><br>
    <input type="radio" id="html" name="race" value="HTML">
    <label for="html">Drow</label><br>
    <input type="radio" id="html" name="race" value="HTML">
    <label for="html">Human</label><br>
    <input type="radio" id="html" name="race" value="HTML">
    <label for="html">Dwarv</label><br>
    <input type="radio" id="html" name="race" value="HTML">
    <label for="html">Thiefling</label><br>
  <button>Save</button>
</div>

{% endblock content %}
